@charset "UTF-8";
.prob.grid{
	display:grid;
	grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
}
.prob.grid > div{
	display : flex;
	border : 1px solid black;
	text-align: center;
}
ul {
list-style-type:none;
}
ul > li {
display: inline-block;
}
.colname{
	background-color: skyblue;
}