@charset "UTF-8";
.notice.grid {
	display:grid;
	grid-template-columns: 1fr 5fr 3fr 2fr;
}
.notice.grid > div{
	display : flex;
	
	border : 1px solid black;
	text-align: center;
}
ul {
list-style-type:none;
}
ul > li {
display: inline-block;
}
.colname{
	background-color: skyblue;
}

