/* common */
a { text-decoration: none; }
li { list-style: none; }
.wrap {
    width: 1200px;
    margin: 0 auto;
}
/* ----------- */
section {
    width:100%;
    height: 800px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
.sidebar{
    float:left;
    width:200px;
    height: 800px;
    border:1px solid black;
    box-sizing: border-box;
}
.tbl{
    float:left;
    width:900px;
    border:1px solid black;
    box-sizing: border-box;
}
.sidebar .activetab > button{
	/* border: 1px solid #503396; */
    background-color: brown;
}
.actlist{
    width: 200px;
    margin: 0 auto;
    text-align: center;
}
button{
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-align: center;
    background-color: white;
}
.tbl{
    height: 800px;
}
/* .ann_notice{} */

#ann_openhour{
    overflow: hidden;
}
#ann_openhour > .openhour_con > ul > li{
    list-style-type: circle;
}
#openhour_gap{
    margin-top: 20px;
}
#ann_openhour .img_gym{
    display: inline-block;
    width: 100%;
    height: 320px;
}
#ann_openhour .openhour_con{
    float: left;
    width: 250px;
    padding: 0 30px;  

}
#ann_openhour .loc_map{
    float: left;
}
/* .ann_openhour */
/* .ann_openhour */

/* .lesson_detail:hover{
    display: block;
} */
.ann_price{
    clear: both;
}

.lesson_detail{
    /* display: none; */
    width: 200px;
}
.lesson_detail:hover .lesson_show{
    display: block;
}
.lesson_show{
    display: none;
}
.lesson_show a{
    width: 200px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: block;
    border: 1px solid black;
    background-color: aquamarine;
}