<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
	<properties resource="driver.properties"/>
		<!-- 
		<property name="username" value=""/>
		<property name="password" value=""/>
	</properties>
		 -->
	 
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	 
	<typeAliases>
		<typeAlias type="semi.climbing.member.model.dto.MemberDto" alias="MemberDto"/>
		<typeAlias type="semi.climbing.member.model.dto.MemberInfoDto" alias="MemberInfoDto"/>
		<typeAlias type="semi.climbing.member.model.dto.MemberLoginDto" alias="MemberLoginDto"/>
		<typeAlias type="semi.climbing.member.model.dto.MemberUpdateDto" alias="MemberUpdateDto"/>
		<typeAlias type="semi.climbing.member.model.dto.MemberPointUpdateDto" alias="MemberPointUpdateDto"/>
	</typeAliases>
	
	<environments default="development1">
		<environment id="development1">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}"/>
				<property name="url" value="${jdbc.url}"/>
				<property name="username" value="${jdbc.username}"/>
				<property name="password" value="${jdbc.password}"/>
			</dataSource>
		</environment>
		<environment id="development2">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}"/>
				<property name="url" value="${jdbc.semi.dbserver.url}"/>
				<property name="username" value="${jdbc.semi.username}"/>
				<property name="password" value="${jdbc.semi.password}"/>
			</dataSource>
		</environment>
	</environments>
	 
	<mappers>
		<mapper resource="/mybatis/mappers/member-mampper.xml"/>
	</mappers>
	 
 </configuration>