.wrap-header {
    position: relative;
    width: 1199px;
    height: 100px;
    border: 1px solid black;;
    margin: 0 auto;
    padding: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    background-color: rgb(220,220,220);
}
.wrap-header .pageLocation {
    position: absolute;
	font-size: 50px;
    top: 20px;
    left: 450px;
}
.wrap-header .homeList{
    position: absolute;
    right:20px;
    bottom:10px;
}

.pageLocation > a {
  font-family: "Lugrasimo", cursive;
  font-weight: 700;
  font-style: normal;
  color: black;
}

.banner {
	clear: both;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    display: block;
    height: 40px;
}
.bannerList {
    display: flex;
    justify-content: space-between;
    padding: 0;
    height: 40px;
}
.bannerList li{
    width: 400px;
    height: 40px;  
    border: 0px;
}
.bannerList button {
    width: 400px;
    display: block;
    height: 40px;
    background-color: white;
    border-right: 0;
    border-top: 0;  
}
.bannerList li button:last-child{
	width: 400px;
    border-right:1px solid black;
    
}
.bannerList button:hover{
    cursor: pointer;
    background-color: gray;
}
.banner .activetab > button{
	/* border: 1px solid #503396; */
    background-color: aquamarine;
}
.content{
    margin-top:10px;
    width:1200px;
    border: 1px solid black;
    display: block;
    height: 500px;
}
.img1{
    width: 720px;
    margin: 0 auto;
}
.homeList > span{
	float: left;	
}
.mem{
	float: left;
	margin: 0 15px;
	background-color: white;
	border-radius:10px;
	width: 100px;
	height: 30px;
	font-size: 15px;
}

.mem.charge{
	margin-left: 5px;
	margin-top: 0;
}
.homeList button {
	font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
}

