@charset "UTF-8";
/* common */
a { text-decoration: none; }
li { list-style: none; }
.wrap {
    width: 1200px;
    margin: 0 auto;
}
/* ----------- */
/* section */
section {
    width:100%;
    /* height: 800px; */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* article */
.tbl{
    float:left;
    width:1000px;
    border:1px solid black;
    box-sizing: border-box;
}