@charset "UTF-8";
.lessonday.grid{
	display:grid;
	grid-template-columns: .5fr .5fr 1fr 2fr .5fr 2fr 1fr 1fr 1fr .5fr;
}
.lessonday.grid > div{
	display : grid;
	border : 1px solid black;
	text-align: center;
}
