@charset "UTF-8";
.lessonend.grid{
	display:grid;
	grid-template-columns: 1fr 1fr 3fr 1fr 3fr 2fr 1fr 2fr;
}
.lessonend.grid > div{
	display : flex;
	border : 1px solid black;
	text-align: center;
}
ul {
list-style-type:none;
}
ul > li {
display: inline-block;
}